name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths-ignore:
      - "helm/**"
      - "k8s/**"
      - "README.md"

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.5

      - name: Build application
        run: go build -o go-web-app

      - name: Run unit tests
        run: go test ./...

  code-quality:
    name: Code Quality (golangci-lint)
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.56.2
          args: --timeout=5m

  push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: [build, code-quality]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/go-web-app:${{ github.run_id }}
            ${{ secrets.DOCKERHUB_USERNAME }}/go-web-app:latest

  update-newtag-in-helm-chart:
    name: Update Helm Chart Image Tag (GitOps)
    runs-on: ubuntu-latest
    needs: push

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Update image tag in Helm values.yaml
        run: |
          sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' helm/go-web-app-chart/values.yaml

      - name: Commit and push Helm changes
        run: |
          git config --global user.email "abhishek@gmail.com"
          git config --global user.name "Abhishek Veeramalla"
          git add helm/go-web-app-chart/values.yaml
          git commit -m "Update image tag to ${{ github.run_id }}" || echo "No changes to commit"
          git push
